<div class="profile-wrapper">
  <p-card>
    <div class="grid">
      <div class="col-4 profile-pic">
        <img src="assets/img/profile_pic.jpg" />
      </div>
      <div class="col-8 profile">
        <div class="profile-link">
          <a href="https://www.linkedin.com/in/jian-bin-li/">
            <h2>@Jian Bin Li</h2>
          </a>
        </div>
        <h4>Personal Summary</h4>
        <div class="profile-content">
          Jian Bin Li is a software engineer that specializes in creating robust
          back-end applications using Java and SpringBoot. Jian is also
          experienced in creating front-end applications using popular
          frameworks such as react and angular. Jian holds a BS degree in
          Information Science and Technology from Pennsylvania State University
          where he specialized in application development. Since then, he has
          contributed to technology used in finance and education.
        </div>
      </div>
    </div>
    <div class="employment-info">
      <div class="employment-info-title">
        <h2>Employment Information</h2>
      </div>
      <div class="employment-section-info">
        <div class="info-header">
          <div class="company-name">
            <h3>JPMorgan Chase & Co.</h3>
          </div>
          <div class="company-title">
            <h5>JPMC Transaction Processing</h5>
          </div>
        </div>
        <div class="info-body">
          Engineer both front-end and back-end solutions used by business
          operations within the firm. Develop and test code to support new
          features and legal requirements. Migrate legacy applications to
          support the latest technology and reach current standards. Support and
          maintain environments for testers, and ensure clean deployments.
          Resolve existing issues and defects.
        </div>
      </div>
      <div class="employment-section-info">
        <div class="info-header">
          <div class="company-name">
            <h3>Tata Consultancy Services</h3>
          </div>
          <div class="company-title">
            <h5>TCS External</h5>
          </div>
        </div>
        <div class="info-body">
          Received AWS associate developer certificate as condition for client.
          As a QA automation engineer, I created and updated various test cases
          for new features, ensuring that code entering higher environments were
          free of errors. In addition to regularly coordinating QA with other
          engineers during releases.
        </div>
      </div>
      <div class="employment-section-info">
        <div class="info-header">
          <div class="company-name">
            <h3>Tata Consultancy Services</h3>
          </div>
          <div class="company-title">
            <h5>TCS Internal</h5>
          </div>
        </div>
        <div class="info-body">
          Develop web/mobile SPA for airline client, in addition to assisting in
          RND for an internal solution. Coordinated a small team to migrate
          existing components to AWS.
        </div>
      </div>
    </div>
  </p-card>
</div>
